# {{ app_name }}

Template application built with ansible playbook from https://github.com/cerico/oakwell

Deploys to https://{{ url }}

## Whats included

- Ruby on Rails starter application
- Pre-configured Ansible playbook with ansistrano for deployment via github action

## How to run


```
# make setup
```

Runs ansible-playbook to 

- Set up the application
- Create and migrate the database
- Configure nginx for correct url
- Set up ssl via lets-encrypt

## Repo
```
# make repo
```

Creats github repo and adds secrets to repo. Github action created and ready for deploy
Runs ansible-playbook to deploy to correct url

## Deploy
```
# git push origin main
```

Github action will trigger and deploy via ansistrano to https://{{ url }}. If you haven't done anything with the Rails app yet, you can still check if the deployment was successful at https://{{ url }}/success.html

## Technology Stack

- {{ rails_version.stdout }}
- Ruby {{ ruby_version }}
- Passenger
- Nginx
- Postgresql
- Ansible 2.9
- Ubuntu 21.04 hosted at Contabo
- LetsEncrypt Certbot
